################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SettlementBookingSystem.Application.UnitTests/bin/Debug/net5.0
/SettlementBookingSystem.Application.UnitTests/obj
/SettlementBookingSystem.Application/obj
/SettlementBookingSystem.Application/bin/Debug/net5.0
/SettlementBookingSystem/bin/Debug/net5.0
/SettlementBookingSystem/obj
